{% load static %}
<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/SpectralCrops-figure.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_styles.css' %}">
    <title>SpectralCrops</title>
</head>



<body>
    <!-- Fundo animado -->
    <div class="wave"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>

    <!-- Card central -->

    <div class="login-container">
        <div class="logo-container">
            <img src="{% static 'img/spectral-crops.svg' %}" alt="">
        </div>      
        <div class="login-card">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
            <div class="form-group username-container">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group password-container">
                {{ form.password.label_tag }}
                {{ form.password }}
                <button type="button" class="toggle-password" onclick="togglePassword()">👁️</button>
            </div>
            <div class="submit-container">
                <button type="submit">Entrar</button>
            </div>
                
            </form>
        </div>
    </div>

<script>
    function togglePassword() {
        const passwordInput = document.getElementById("id_password");
        const toggleButton = document.querySelector(".toggle-password");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleButton.textContent = "🙈"; // Ícone de esconder
        } else {
            passwordInput.type = "password";
            toggleButton.textContent = "👁️"; // Ícone de ver
        }
    }
</script>
</body>
</html>