{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/SpectralCrops-figure.png' %}">
    <link rel="stylesheet" href="{% static 'css/tests_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <title>Document</title>
</head>
<body>
    <div class="forms-div">
        <h1>Controle de Ações</h1>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="action" value="get_frame">Get Frame</button>
            <button type="submit" name="action" value="white_led">White</button>
            <button type="submit" name="action" value="yellow_led">Yellow</button>
            <button type="submit" name="action" value="red_led">Red</button>
            <button type="submit" name="action" value="blue_led">Blue</button>
            <button type="submit" name="action" value="turn_off">Turn Off Leds</button>
            <button type="submit" name="action" value="get_all_bands">Get All Bands</button>
        </form>
    </div>
    <div class="stream-div">
        <!-- <img src="{% url 'video_feed' %}" class="img-fluid" alt="Stream da câmera" /> -->
    </div>

    <div>
        <canvas id="canvas"></canvas>
    </div>
    <img src="{% static 'img/spectral-crops.svg' %}">
    <button id="submit">Enviar ROI</button>



    <script>

    const canvas = document.getElementById('canvas');
    const ctx = canvas.getContext('2d');
    const img = document.getElementById('source-image');

    let startX, startY, isDrawing = false;
    let rect = {}; // armazena a região selecionada

    // Carrega imagem no canvas
    img.onload = function() {
        canvas.width = img.width;
        canvas.height = img.height;
        ctx.drawImage(img, 0, 0);
    }

    // Eventos do mouse
    canvas.addEventListener('mousedown', e => {
        startX = e.offsetX;
        startY = e.offsetY;
        isDrawing = true;
    });

    canvas.addEventListener('mousemove', e => {
        if (!isDrawing) return;
        const x = e.offsetX;
        const y = e.offsetY;
        const width = x - startX;
        const height = y - startY;

        // redesenha a imagem e o retângulo
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.drawImage(img, 0, 0);
        ctx.strokeStyle = 'red';
        ctx.lineWidth = 2;
        ctx.strokeRect(startX, startY, width, height);

        rect = {x: startX, y: startY, width: width, height: height};
    });

    canvas.addEventListener('mouseup', e => {
        isDrawing = false;
    });
    </script>
</body>
</html>