{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/SpectralCrops-figure.png' %}">
    <link rel="stylesheet" href="{% static 'css/tests_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <title>Document</title>
</head>
<body>
    <div class="forms-div">
        <h1>Controle de Ações</h1>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="action" value="get_frame">Get Frame</button>
            <button type="submit" name="action" value="white_led">White</button>
            <button type="submit" name="action" value="yellow_led">Yellow</button>
            <button type="submit" name="action" value="red_led">Red</button>
            <button type="submit" name="action" value="blue_led">Blue</button>
            <button type="submit" name="action" value="turn_off">Turn Off Leds</button>
            <button type="submit" name="action" value="get_all_bands">Get All Bands</button>
        </form>
    </div>
    <div class="stream-div">
        <!-- <img src="{% url 'video_feed' %}" class="img-fluid" alt="Stream da câmera" /> -->
    
    
    </div>

    <div>
        <canvas id="canvas"></canvas>
    </div>
    <img src="{% static 'img/spectral-crops.svg' %}">
    
    



    <script>

    const imageElement = document.getElementById("image");
    const canvasElement = document.createElement("canvas");
    const ctx = canvasElement.getContext("2d");
    const width = 100, height = width;

    // Define the size of the canvas element.
    canvasElement.width = width;
    canvasElement.height = height;

    let imgX = imageElement.naturalWidth - width;
    let imgY = 0;
    ctx.drawImage(imageElement, imgX, imgY, width, height, 0, 0, canvasElement.width, canvasElement.height);
    
    imageElement.src = canvasElement.toDataURL();

    </script>
</body>
</html>